body {
    margin: 0;
    font-family: "Arial", sans-serif;
    background-color: #f0f8f5;
  }
  
  .app {
    display: flex;
    flex-direction: column;
  }
  
  .main-content {
    display: flex;
    height: 100vh;
  }
  